    <script type="text/javascript">
		$(document).ready(function() {
			drawChart();
		});

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['State/Territory', 'Pencentage of population', { role: 'annotation' }],
	  ['New South Wales', 2.76, '2.76%'],
          ['Victoria', 0.80, '0.80%'],
          ['Queensland', 3.98, '3.98%'],
          ['South Australia', 2.21, '2.21%'],
          ['Western Australia', 3.42, '3.42%'],
          ['Tasmania', 4.69, '4.69%'],
          ['Northern Territory', 28.19, '28.2%'],
          ['Australian Capital Territory', 1.59, '1.59%'],
          ['Australia', 2.84, '2.84%']]);

        var options = {
	  animation: {duration: 2000, startup: true},
          title: 'Percentage in region',
          legend: { position: 'none' },
        };

        var chart = new google.visualization.BarChart(document.getElementById('aboriginal_demo'));
        chart.draw(data, options);
      }
    </script>

    <div id="aboriginal_demo" style="width: 900px; height: 500px;"></div>
