<script type="text/javascript">
	$(document).ready(function() {
		drawChart();
	});

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Cancer type', 'Male', 'Female', 'All'],
      ['Bowel cancer',2219,1780,3999],
      ['Breast cancer',23,2914,2937],
      ['Colon cancer',1082,995,2077],
      ['Kidney cancer',557,320,877],
      ['Liver cancer',980,443,1423],
      ['Lung cancer',4959,3155,8114],
      ['Pancreatic cancer',1218,1198,2416],
      ['Prostate cancer',3294,0,3294],
      ['Rectal cancer',1137,785,1922],
      ]);

    var options = {
      animation: {duration: 2000, startup: true},
      title: 'Number of reported cancer deaths in Australia, 2011',
      legend: { position: 'right' },
    };

    var chart = new google.visualization.BarChart(document.getElementById('aboriginal_demo'));
    chart.draw(data, options);
  }
</script>
<div>
	<p>39428 Australians died from cancer in 2011 (source: Australian Institute of Health and Welfare).</p>
	
	<p>Bowel cancer has the second highest mortality rate (3999 deaths) in Australia, after lung cancer (8114 deaths). However, breast cancer has the second highest mortality rate for females (2914), and prostate cancer has the second highest mortality rate for males (3294).
	</p>
	    <div id="aboriginal_demo" style="width: 900px; height: 500px;"></div>
</div>
