    <script type="text/javascript">
		$(document).ready(function() {
			drawStuff();
		
		});


      function drawStuff() {
      	console.log("drawStuff()");
      
        var data_discrim1 = new google.visualization.arrayToDataTable([
		['Form of discrimination', 'Accepted complaints (2010-2014)'],
		["Physical Disability", 156],
		["Sexual harassment", 121],
		["Race", 88],
		["Victimisation", 74],
		["Sex", 68],
		["Age", 51],
        ]);

        var options = {
	  animation: {duration: 2000, startup: true},
          width: 900,
          legend: { position: 'none' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart_discrim1 = new google.charts.Bar(document.getElementById('bar_discrim1'));
		chart_discrim1.draw(data_discrim1, options);

      };
    </script>
	<div id="bar_discrim1" style="width: 700px; height: 400px;"></div>

	<p id="data-source">
	South Australian Equal Opportunity Commission,
	<a href="https://data.sa.gov.au/data/dataset/discrimination-complaints-and-enquiries-2010-14">complaints 2010-2014</a>.
	</p>

