    <script type="text/javascript">
		$(document).ready(function() {
			drawStuff();
		
		});


      function drawStuff() {
      	console.log("drawStuff()");
      
        var data = new google.visualization.arrayToDataTable([
		['Offense', 'Percentage of notices withdrawn'],
		['Red light', 24.162],
		['Speeding', 6.912],
		['Bicycle related', 3.985],
		['Alcohol related', 3.540],
		['Cannabis related', 5.051],
        ]);

        var options = {
	  animation: {duration: 2000, startup: true},
          width: 900,
          legend: { position: 'none' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('bar'));
		chart.draw(data, options);

      };
    </script>
	<div id="bar" style="width: 700px; height: 400px;"></div>

	<p id="data-source">
	South Australian Police
	<a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data">expiation notices 2011-2015</a>.
	</p>

