    <script type="text/javascript">
		$(document).ready(function() {
			drawStuff();
		
		});


      function drawStuff() {
      	console.log("drawStuff()");
      
        var data = new google.visualization.arrayToDataTable([
		['Make', 'Expiation notices'],
		['Holden', 353604],
		['Toyota', 242984],
		['Ford', 188675],
		['Mitsubishi', 117179],
		['Nissan', 73554],
		['Mazda', 67413],
		['Hyundai', 59660],
		['Subaru', 42005],
        ]);

        var options = {
	  animation: {duration: 2000, startup: true},
          width: 900,
          legend: { position: 'none' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('bar'));
		chart.draw(data, options);

      };
    </script>
	<div id="bar" style="width: 700px; height: 400px;"></div>

	<p id="data-source">
	South Australian Police
	<a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data">expiation notices 2011-2015</a>.
	</p>

