    <script type="text/javascript">
		$(document).ready(function() {
			drawStuff();
		
		});


      function drawStuff() {
      	console.log("drawStuff()");
      
        var data = new google.visualization.arrayToDataTable([
		['Expiation status', 'Percentage'],
		["EXPIATED", 41.949],
		["COURTS ENFORCEMENT (pending or enforced)", 16.191],
		["ISSUED OR CAUTIONED", 11.772],
		["WITHDRAWN", 11.302],
		["COURTS RELIEF STATUS", 9.941],
		["REJECTED PHOTOGRAPH", 7.767],
		["SUSPENDED FOR ENQUIRY", 0.575],
		["MULTIPLE OFFENCES - PROCESSED", 0.476],
		["MULTIPLE OFFENCE - OPEN", 0.016],
		["INVALID", 0.012],
		["Notice Status Desc", 0.000],
        ]);

        var options = {
	  animation: {duration: 2000, startup: true},
          width: 900,
          legend: { position: 'none' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('bar'));
		chart.draw(data, options);

      };
    </script>
	<div id="bar" style="width: 700px; height: 400px;"></div>

	<p id="data-source">
	South Australian Police
	<a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data">expiation notices 2011-2015</a>.
	</p>

