    <script type="text/javascript">
		$(document).ready(function() {
			drawStuff();
		
		});


      function drawStuff() {
      	console.log("drawStuff()");
      
        var data = new google.visualization.arrayToDataTable([
		['Local Service Area', 'Percentage of expiation notices'],
		["EASTERN ADELAIDE", 16.320],
		["STURT", 12.272],
		["WESTERN ADELAIDE", 9.743],
		["ELIZABETH", 9.673],
		["HOLDEN HILL", 9.231],
		["MURRAY MALLEE", 6.914],
		["YORKE MID NORTH", 6.833],
		["HILLS FLEURIEU", 5.957],
		["SOUTH COAST", 5.523],
		["EYRE WESTERN", 5.269],
		["FAR NORTH", 4.462],
		["BAROSSA", 3.931],
		["LIMESTONE COAST", 3.869]
	        ]);

        var options = {
	  animation: {duration: 2000, startup: true},
          width: 900,
          legend: { position: 'none' },
          bars: 'horizontal', // Required for Material Bar Charts.
          axes: {
            x: {
              0: { side: 'top'} // Top x-axis.
            }
          },
          bar: { groupWidth: "90%" }
        };

        var chart = new google.charts.Bar(document.getElementById('bar'));
		chart.draw(data, options);

      };
    </script>
	<div id="bar" style="width: 700px; height: 400px;"></div>

	<p id="data-source">
	South Australian Police
	<a href="https://data.sa.gov.au/data/dataset/expiation-notice-system-data">expiation notices 2011-2015</a>.
	</p>

