<script type="text/javascript">
$(document).ready(function() {
	drawChart();
});

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
	['Industry', 'Average Taxable Income', {role: 'style'}],
	['Medical Services', 243993.14, 'color: blue'],
	['Pathology and Diagnostic Imaging Services', 240619.54, 'color: blue'],
	['Hospitals', 153920.50, 'color: blue'],
	['Forestry and Logging', 142153.25, 'color: blue'],
	['Forestry Support Services', 129468.50, 'color: blue'],
	['Cigarette and Tobacco Product Manufacturing', 119608.60, 'color: blue'],
	['Other Mining Support Services', 109889.12, 'color: blue'],
	['Fruit and Tree Nut Growing', 109588.23, 'color: red'],
	['Oil and Gas Extraction', 97222.61, 'color: blue'],
	['Water Passenger Transport', 96066.49, 'color: blue']
   ]);

var options = {
      width: 900,
  animation: {duration: 2000, startup: true},
  legend: { position: 'none' },
      bars: 'horizontal', // Required for Material Bar Charts.
      axes: {
        y: {
          0: { side: 'right'}
        }
      },
      bar: { groupWidth: "90%" }
    };
    var chart = new google.visualization.BarChart(document.getElementById('chart'));
chart.draw(data, options);
  };
</script>
<div>
	<br><br><br>

	<div id="chart" style="width: 900px; height: 500px;"></div>

        <div id ="barchart_colors"></div>

	<p id="data-source">
	Source:
	<a href="http://data.gov.au/dataset/e29ef9ca-0d1a-47ec-9e9b-14a79a941511/resource/2ef85798-5aa9-46dc-8c08-8cf02924afc8/download/taxstats2013individual08selecteditemsbyindustry.xlsx">ABS - Taxation Statistics 2012-13 Individuals - Table 8: Selected items, by industry</a>.
	</p>

</div>
