<script type="text/javascript">
	$(document).ready(function() {
		doGraph();
	});
  
  function doGraph() {
    var data = new google.visualization.arrayToDataTable([
	['Expenditure', 'Gross proportion of expenditure (2009-2010)'],
	["Transport", 15.6],
	["Current housing costs", 18.0],
	["Domestic fuel and power", 2.6],
	["Food and non-alcoholic beverages", 16.5],
	["Alcoholic beverages", 2.6],
	["Tobacco products", 1.0],
	["Clothing and footwear", 3.6],
	["Household furnishings and equipment", 4.7],
	["Household services and operation", 5.5],
	["Medical care and health expenses", 5.3],
	["Recreation", 13.1],
	["Personal care", 1.9],
	["Miscellaneous goods and services", 9.4],
    ]);

    var options = {
  slices: {
	0: {offset: 0.3}
  },
  is3D: true
    };

    var chart = new google.visualization.PieChart(document.getElementById('chart'));
chart.draw(data, options);

  };
</script>

<div>
	Source:
	<p id="data-source">
	<a href="http://www.abs.gov.au/ausstats/Subscriber.nsf/log?openagent&65300do001_200910.xls&6530.0&Data%20Cubes&4051498B94E9BCE6CA25790200150C33&0&2009-10&06.09.2011&Latest">ABS - 6530.0 - Household Expenditure Survey, Australia: Summary of Results, 2009-10</a>.
	</p>

	<br><br><br>

	<div id="chart" style="width: 900px; height: 500px;"></div>
</div>

