<script type="text/javascript">
	$(document).ready(function() {
		doGraph();
	});
  
  function doGraph() {
    var data = new google.visualization.arrayToDataTable([
	['Expenditure', 'Gross proportion of expenditure 2009-2010', { role: 'style' } ],
	['Current housing costs (selected dwelling)', 40.63, 'blue'],
	['Domestic fuel and power', -10.34, 'blue'],
	['Food and non-alcoholic beverages', -16.24, 'blue'],
	['Alcoholic beverages', -23.53, 'blue'],
	['Tobacco products', -37.5, 'blue'],
	['Clothing and footwear', -44.62, 'yellow'],
	['Household furnishings and equipment', -38.96, 'blue'],
	['Household services and operation', 27.91, 'blue'],
	['Medical care and health expenses', 35.9, 'blue'],
	['Transport', -4.29, 'blue'],
	['Recreation', 10.08, 'blue'],
	['Personal care', 5.56, 'blue'],
	['Miscellaneous goods and services', 30.56, 'blue']
    ]);

var options = {
      width: 900,
  animation: {duration: 2000, startup: true},
  legend: { position: 'none' },
      bars: 'horizontal', // Required for Material Bar Charts.
      axes: {
        y: {
          0: { side: 'right'}
        }
      },
      bar: { groupWidth: "90%" }
    };
    var chart = new google.charts.Bar(document.getElementById('chart'));
chart.draw(data, options);

  };
</script>

<div>
	Source:
	<p id="data-source">
	<a href="http://www.abs.gov.au/ausstats/Subscriber.nsf/log?openagent&65300do001_200910.xls&6530.0&Data%20Cubes&4051498B94E9BCE6CA25790200150C33&0&2009-10&06.09.2011&Latest">ABS - 6530.0 - Household Expenditure Survey, Australia: Summary of Results, 2009-10</a>.
	</p>
	
	<br><br><br>
	
	<div id="chart" style="width: 900px; height: 500px;"></div>
</div>