<script type="text/javascript">
	$(document).ready(function() {
		drawChart();
	});

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Age Group', 'Rate', {role:'style'}],
      ['0-4', 83, 'red'],
      ['5-9',  9, 'green'],
      ['10-14', 10, 'green'],
      ['15-19', 34, 'yellow'],
      ['20-24', 43, 'orange'],
      ['25-29', 50, 'orange']
      ]);

    var options = {
      animation: {duration: 2000, startup: true},
      title: 'Deaths per 100,000 (Australia 2012, AIHW)',
      legend: { position: 'none' },
    };

    var chart = new google.visualization.BarChart(document.getElementById('mortality_rate'));
    chart.draw(data, options);
  }
</script>

<div>
    <div id="mortality_rate" style="width: 900px; height: 500px;"></div>

    Source: Australian Institute of Health and Welfare (http://www.aihw.gov.au/WorkArea/DownloadAsset.aspx?id=60129550372)
    
</div>
