    <script type="text/javascript">
		$(document).ready(function() {
			doGraph();
		});
      
      function doGraph() {
        var data = new google.visualization.arrayToDataTable([
		['Religion', 'Percentage'],
		['Islam',	2.2],
		['Christian', 61.1],
		['Other non-Christian',	5],
		['No Religion',	22.3],
		['Other/Not Stated',	9.4],
        ]);

        var options = {
	  slices: {
		0: {offset: 0.3}
	  },
	  is3D: true
        };

        var chart = new google.visualization.PieChart(document.getElementById('chart'));
	chart.draw(data, options);

      };
    </script>
	<div>
	There are over 10x as many people with "No Religion" as Muslim in Australia.
	
	The 2011 census counted 476,300 Muslims and 4,796,800 people who identified as "No religion".

	<br><br><br>
	<div id="chart" style="width: 900px; height: 500px;"></div>

	<div>
	Source:
	<p id="data-source">
	<a href="http://www.abs.gov.au/ausstats/abs@.nsf/Lookup/2071.0main+features902012-2013">2011 Census</a>.
	</p>
	</div>

</body>
</html>

